@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: white;
    color: black;
}

.gradient{
    background-image: linear-gradient(to right , rgb(56, 56, 219),rgb(227, 49, 227),rgb(203, 8, 8));
}